<header class="bg-white shadow-md">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">


      @if (auth.authentication$ | async; as user) {
        <div class="flex-shrink-0">
          <a href="#" class="text-xl font-bold text-gray-800">Hi, {{user.name}} *admin*</a>
        </div>
        @switch (user.role) {
          @case (UserRole.ADMIN) {
            <nav class=" md:flex space-x-8">
              <a class="text-gray-500 hover:text-gray-900">Users</a>
              <a class="text-gray-500 hover:text-gray-900">Courses</a>
              <a class="text-gray-500 hover:text-gray-900">StudyPrograms</a>
              <a class="text-gray-500 hover:text-gray-900">Courses</a>
              <a class="text-gray-500 hover:text-gray-900">Registrations</a>
            </nav>
          }
          @case (UserRole.PROFESSOR) {

          }
          @case (UserRole.STUDENT) {

          }
        }
        <a (click)="logout()" class="text-gray-500 hover:text-gray-900">Logout</a>
      } @else {

      }
    </div>
  </div>
</header>
